################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simply.Property/bin/Release
/.vs
/Simply.Property/Nuget
/Simply.Property/obj
/Simply.Property.Test/obj
/Nuget/Simply.Property/lib
/Nuget/Simply.Property.SqlServer/lib
/Nuget/Simply.Property.SqlServer/NuGet.exe
/Nuget/Simply.Property.SqlServer/Simply.Property.SqlServer.0.1.0.nupkg
/Nuget/Simply.Property/NuGet.exe
/Nuget/Simply.Property/Simply.Property.0.3.5.nupkg
/Nuget/Simply.Property.XmlReader/lib
/Nuget/Simply.Property.XmlReader/NuGet.exe
/Nuget/Simply.Property.XmlReader/Simply.Property.XmlReader.0.1.0.nupkg
/Nuget
/Simply.Property.XmlReader/bin/Release
/Simply.Property.XmlReader/obj
/Simply.Propery.SqlServer/bin/Release
/Simply.Propery.SqlServer/obj
/Simply.Property.SqlServer/bin/Release
/Simply.Property.SqlServer/obj
/Simply.Property/bin/Debug/net45
/Simply.Property.SqlServer/bin/Debug/netcoreapp3.0
/Simply.Property.Test/bin/Debug/net48
/Simply.Property.XmlReader/bin/Debug
/Simply.Property.Test/bin/Release/net48/nunit_random_seed.tmp
