################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simply.Property/bin/Release
/.vs
/Simply.Property/Nuget
/Simply.Property/obj
/Simply.Property.Test/obj
